.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 45px);
  overflow: auto;
}

.login-form {
  width: 300px;
}

.login-heading {
  text-align: center;
  font-weight: 500;
  font-size: 24px;
}

.login-para {
  justify-self: flex-end;
  font-size: 16px;
  color: rgb(50, 176, 255);
  margin-top: 6px;
  cursor: pointer;
}

.label-required {
  color: red;
}
