.register-form {
  display: flex;
  gap: 20px;
  width: 80%;
}

.register-input-con {
  width: 100%;
}

.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 45px);
  overflow: auto;
}
